<style>
h1. {
font-family: '', sans-serif;
text-align:center;

}
img{
 height: 25%;
    width: 25%;
}
h6{
  font-family: '', sans-serif;
}

/*LIMIT*/
#contbody{
text-align:left;
background-color: 	#b7b7b7;
border-radius: 25px;
padding: 20px;
}
ul.a {
    list-style-type: circle;
    list-style-position: inside;
}
div.container{
  border-radius: 25px;
background-color: #b7b7b7;
    animation-name: example;
    animation-duration: 15s;
animation-iteration-count:infinite;
}
/* The animation code */
@keyframes example {
    0% {background-color: #b7b7b7;}
    5% {background-color: #b7b7b7;}
    10% {background-color: yellow;}
    15% {background-color: yellow;}
    20% {background-color: red;}
    25% {background-color: red;}
    30% {background-color: purple;}
    35% {background-color: purple;}
    40% {background-color: blue;}
    45% {background-color: blue;}
    50% {background-color: yellow;}
    55% {background-color: yellow;}
    60% {background-color: red;}
    65% {background-color: red;}
    70% {background-color: purple;}
    75% {background-color: purple;}
    80% {background-color: blue;}
    85% {background-color: blue;}
    90% {background-color: orange;}
    95% {background-color: orange;}
}
/*From here, things will go crazy*/


/* The element to apply the animation to */

</style>
